.backup {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background: var(--bg-surface-base);
}

.backup-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  padding: 16px;
}
