.production-card-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  width: 100%;
}

.production-card {
  width: 343px;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  padding: var(--space-16);
  border-radius: var(--radius-medium);
  background: var(--bg-surface-default);
}

.production-card .segmented-control {
  width: 100%;
}
