.production-card {
  width: 343px;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  padding: var(--space-16);
  border-radius: var(--radius-medium);
  background: var(--bg-surface-default);
}

.production-card-title {
  margin: 0;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body-small);
  color: var(--color-text-secondary);
}

.production-card .segmented-control {
  width: 100%;
}
